body {
    background-color: #777777;

}

nav {
    background-color: #ffffff;
    height: 5%;
    padding: 20;
}

.name-background {
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline;
    padding: 20;
    text-align: center;
}

.Links {
    float: right;
    text-align: center;


}

.Picture {
    height: 30%;
    width: auto;
    object-fit: contain;
    
}